.form-group input{
    margin:15px 0;
}
.body{
    background-color: rgba(0,0,0,0.8)
}

body{
    -webkit-font-smoothing: antialiased;
}
.sign-up-card{
    /*width:400px;*/
    /*margin: 60px auto;*/
    padding: 30px 50px 30px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
    height:480px;
}

.form-group input{
    margin:10px 0;
}

a{
    text-decoration: none;
}
.content {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.content .product-img {
    float: left;
    width: 144px;
    height: 192px;
    margin: 20px 20px 0;
    border: #000 solid 1px;
    overflow: hidden;
}
.content .product-img a img{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 6px rgba(0,0,0,.35), 0 0 5px #f9f2e9 inset;
    cursor: pointer;
    transition: all 0.6s ease-out;
}
.content .product-img a img:hover{
    transform: scale(1.1);
}
.content .productInfo {
    float: left;
    width: 560px;
    margin-top: 20px;
}
.cartTable td a,
.content .productInfo a{
    font: 12px/22px PingFangSC-Regular,'-apple-system',Simsun;
    display: inline-block;
    overflow: hidden;
    height: 22px;
    margin-right: 12px;
    padding: 0 10px 10px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    text-decoration: none;
}
.cartTable td a.red,
.productInfo a.red{
    margin-top: 5px;
    transition: border .3s;
    color: #bf2c24;
    border-color: #ffb0b4;
}
.cartTable td a.red:hover,
.productInfo a.red:hover{
    color: #bf2c24;
    border-color: #bf2c24;
}
.cartTable td a.blue,
.productInfo a.blue{
    margin-top: 5px;
    transition: border .3s;
    color: #3f5a93;
    border-color: #9fadc9;
}
.cartTable td a.blue:hover,
.productInfo a.blue:hover{
    color: #3f5a93;
    border-color: #3f5a93;
}


/*清空tab的标签样式*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    border-left:none;
    border-right:none;
    border-top:none;
    background-color: transparent;
    border-bottom-color: #1b6d85;
    border-bottom-width: 2px;
}

.pic{
    float: left;
    width: 120px;
    height: 184px;
    margin-right: 20px;
    border: #000 solid 1px;
    overflow: hidden;
}
.pic a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 6px rgba(0,0,0,.35), 0 0 5px #f9f2e9 inset;
}
.pic a img{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 6px rgba(0,0,0,.35), 0 0 5px #f9f2e9 inset;
    cursor: pointer;
    transition: all 0.6s ease-out;
}
.pic a img:hover{
    transform: scale(1.1);
}


.subject-item, .site-item {
    overflow: hidden;
    zoom: 1;
    border-top: 1px dashed #ddd;
    padding: 20px 0 10px;
}
.subject-item .info, .site-item .info {
    overflow: hidden;
    zoom: 1;
    color: #666;
}
.subject-item .pic, .site-item .pic {
    float: left;
    margin-right: 20px;
}
.subject-item .info p{
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 13px;
}
.subject-item .info p em{
    margin: 1px 5px 0;
    color: #a5a5a5;
}
.subject-item .info .ft {
    margin-top: 10px;
    position: relative;
    min-height: 19px;
    _height: 19px;
}
h2 {
    font: 15px Arial, Helvetica, sans-serif;
    color: #1f0404;
    margin: 0 0 12px 0;
    line-height: 150%;
}
#content{
    width: 1000px;
    margin-left: 100px;
}

.z-err{border-color:#ff8a77;animation:shake 0.5s;}
