<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>编辑</title>
</head>
<body class="body">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding-top: 0px">
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <div class="pull-right" style="margin-top: 10px">
                        <a href="/home" style="color: black;margin-right:5px">Home</a>
                        <a th:if="${session.isLogin == true}"  style="color: black;margin-right:5px">
                            <a th:if="${session.authorities.contains('ROLE_BUYER')}" href="/finance" style="color: black;margin-right:5px">财务</a>
                            <a th:if="${session.authorities.contains('ROLE_BUYER')}" th:href="'/shoppingCart?from='+${#request.getServletPath()}" style="color: black;margin-right:5px">购物车</a>
                            <a th:if="${session.authorities.contains('ROLE_SELLER')}" href="/public" style="color: black;margin-right:5px">发布</a>
                            <a href="/logout" style="color: black">登出</a>
                        </a>
                        <a th:if="${session.isLogin == null}" href="/login" style="color: black;margin-right:5px">Login</a>
                    </div>
                    <div class="tab-content column col-md-12" style="margin-top: 40px">
                        <div id="panel-all" class="fade in active">
                            <form id="form" method="post" action="/edit" onsubmit="return formSubmit()" enctype="multipart/form-data">
                                <input name="productId" th:value="${originProduct.getProductId()}" style="visibility: hidden">
                                <div class="form-group">
                                    <label for="editTitle">标题</label>
                                    <input style="width: 720px;" th:value="${originProduct.title}" type="text" name="title" class="form-control" id="editTitle" placeholder="2-80字符">
                                </div>
                                <div class="form-group">
                                    <label for="editSummary">摘要</label>
                                    <input style="width: 720px;" th:value="${originProduct.summary}" type="text" name="summary" class="form-control" id="editSummary" placeholder="2-140字符">
                                </div>
                                <div class="form-group">
                                    <label>图片：</label>
                                    <div id="uploadType" onchange="uploadTypeChange(event)">
                                        <input name="imgType" type="radio" value="url" checked /> 图片地址
                                        <input name="imgType" type="radio" value="file" /> 本地上传
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <labe></labe>
                                        <div id="urlUpload">
                                            <input th:value="${originProduct.getImageSrc()}" id="imageSrc" class="u-ipt ipt"  name="imageSrc" placeholder="图片地址"/>
                                        </div>
                                        <div id="fileUpload"  style="display:none">
                                            <input class="u-ipt ipt" name="file" type="file" id="fileUp"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="editContent">正文</label>
                                    <textarea th:value="${originProduct.content}" type="text" name="content" class="form-control" id="editContent" placeholder="2-1000个字符"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="editPrice">价格</label>
                                    <input th:value="${originProduct.price}" type="text" name="price" class="form-control" id="editPrice">
                                </div>
                                <div class="form-group">
                                    <button type="submit">保存</button>
                                </div>
                                <span style="position: absolute;top: 0; right: 0;border: 1px solid #d9d9d9;border-radius: 4px;padding: 2px;background: #fff;">
                                    <img id="imgShow" style="width: 130px;height: 130px;border-radius: 2px;transition: width 0.2s,height 0.2s;" th:src="${originProduct.imageSrc}">
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
<script>
    var form = document.getElementById("form");
    var productId = form['productId'];
    var title = form['title'];
    var summary = form['summary'];
    var content = form['content'];
    var price = form['price'];
    var imgType = form['imgType'];
    var imgSrc = form['imageSrc'];
    var imgFile = form['file'];
    var imgShow = document.getElementById("imgShow");

    function uploadTypeChange(e){
        if (e.target.value=='url'){
            document.getElementById("urlUpload").style.display='block';
            document.getElementById("fileUpload").style.display='none';
            imgShow.src = value;
        } else {
            document.getElementById("urlUpload").style.display='none';
            document.getElementById("fileUpload").style.display='block';
        }
    }



    imgSrc.addEventListener('input',function (e) {
        var value = imgSrc.value.trim();
        if (value != ''){
            imgShow.src = value;
        }
    }.bind(this),false);

    imgFile.addEventListener('input',function (e) {
        var src = window.URL.createObjectURL(imgFile.files[0]);
        imgShow.src = src;
    }.bind(this),false);

    [title,summary,imgSrc,content,price].forEach(function(item){
        item.addEventListener('input',function(e){
            item.classList.remove('z-err');
        }.bind(this),false);
    }.bind(this));

    function formSubmit() {
        if (!check()){
            return false;
        }
        var subForm = new FormData();
        subForm.append("productId",productId.value);
        subForm.append("title",title.value);
        subForm.append("summary",summary.value);
        subForm.append("content",content.value);
        subForm.append("price",price.value);
        subForm.append("imgType",imgType.value);
        var type = imgType.value;
        if (type == 'url') {
            subForm.append("imageSrc",imgSrc.value);
        }else {
            var maxAllowedSize = 100000;
            var file = imgFile.files[0];
            if (file.size > maxAllowedSize){
                alert("超过文件上传大小限制");
                return false;
            } else {
                subForm.append("file",file,file.name);
                subForm.enctype = "multipart/form-data";
            }
        }
        $.ajax({
            type: "POST",
            url:"/edit",
            data:subForm,
            contentType: false,
            processData: false,
            error: function(request) {
                alert("编辑失败");
            },
            success: function(msg) {
                var obj = JSON.parse(msg);
                if (obj.status ==true) {
                    alert("编辑成功");
                    window.location.href="/detail/"+productId.value
                }else {
                    alert("编辑失败");
                }
            }
        });
        return false;
    }
    function check(){
        var result = true;
        [
            [title,function(value){return value.length<2 || value.length>80}],
            [summary,function(value){return value.length<2 || value.length>140}],
            [imgSrc,function(value){return imgType.value == "url" && value == ''}],
            [content,function(value){return value.length<2 || value.length>1000}],
            [price,function(value){return value == '' || !Number(value)}]
        ].forEach(function(item){
            var value = item[0].value.trim();
            if(item[1](value)){
                item[0].classList.add('z-err');
                result = false;
            }
            item[0].value = value;
        });
        return result;
    }

</script>

</html>