<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>财务</title>
</head>
<body class="body">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="padding-top: 0px">
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <div class="pull-right" style="margin-top: 10px">
                        <a href="/home" style="color: black;margin-right:5px">Home</a>
                        <a th:if="${session.isLogin == true}"  style="color: black;margin-right:5px">
                            <a th:if="${session.authorities.contains('ROLE_BUYER')}" href="/finance" style="color: black;margin-right:5px">财务</a>
                            <a th:if="${session.authorities.contains('ROLE_BUYER')}" th:href="'/shoppingCart?from='+${#request.getServletPath()}" style="color: black;margin-right:5px">购物车</a>
                            <a th:if="${session.authorities.contains('ROLE_SELLER')}" href="/public" style="color: black;margin-right:5px">发布</a>
                            <a href="/logout" style="color: black">登出</a>
                        </a>
                        <a th:if="${session.isLogin == null}" href="/login" style="color: black;margin-right:5px">Login</a>
                    </div>
                    <div class="tab-content column col-md-12" style="margin-top: 40px">
                        <div id="panel-all" class="fade in active">
                            <div id="content">
                                <table class="orderTable">
                                    <thead>
                                    <tr><th>内容图片</th><th>内容名称</th><th>购买时间</th><th>购买数量</th><th>购买价格</th></tr>
                                    </thead>

                                    <tbody class="content" th:each="bundle, interStat : ${bundleList}">
                                    <td>
                                        <a target="_blank" th:href="'../detail/'+${bundle.order.getProductId()}">
                                            <img alt="140x140" th:src="${bundle.product.getImageSrc()}"  style="height:100px;width:66px" />
                                        </a>
                                    </td>
                                    <td><span th:text="${bundle.product.getTitle()}" style="font-size:15px;margin-left:15px;"></span></td>
                                    <td><span th:text="${#dates.format(bundle.order.getDate(), 'yyyy-MM-dd HH:mm:ss')}" style="font-size:15px;margin-left:15px;"></span></td>
                                    <td><span th:text="${bundle.order.getCount()}" style="font-size:15px;margin-left:15px;"></span></td>
                                    <td><span th:text="${bundle.order.getPriceDone()}" style="font-size:15px;margin-left:15px;"></span></td>
                                    </tbody>
                                </table>
                                <div th:text="'总金额： ¥'+${total}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
